/*
Applying same color to each button
button{
background-color: blue;
color: white;
}
*/
#SearchButton{
background-color: red;
color: white;
border: 1px;
border-radius: 4px;
padding: 8px 16px;
margin: 4px 2px;
cursor: pointer;
}
#BlueButton{
 background-color: blue;
 color: white;
 border: 1px;
 border-radius: 4px;
 padding: 8px 16px;
 margin: 4px 2px;
 cursor: pointer;
 }

 input[type=text]{
 border: 2px solid black;
 border-redius: 4px;
 width: 30%;
 padding: 8px 16px;
 }
 body{
 text-align: center;
 }